#lower.grid
  %nav#bar
    %a#toggle.button Terminal
  #panel.row{data:{:equilizer=>true}}
         
    %div{class:"small-1 columns", data:{"equilizer-watch"=>true}}
      %ul.terminal-side-menu
        %li
          =link_to work_categories_path(@work), {class:"side-button", id:"category-list-button"} do
            %i{class:"fi-record"} 
        %li
          =link_to(work_privacy_path(@work), :class=> "side-button", id: "privacy-button", remote: true) do
            = render "privacy_button_content", :show_others => @work.show_others
            /%a.side-button#privacy-button
            /%i{class:"fi-lock"} 
        %li
          %a.side-button#guide-button
            %i{class:"fi-compass"} 
        %li
          %a.side-button#settings-button
            %i{class:"fi-wrench"} 
    %div{class:"small-11 columns", data:{"equilizer-watch"=>true}}
      =simple_form_for(@work) do |f|
        %h2#field
        = f.text_area :markup, value: @work.generate_markup

    

/      -@work.categories.each do |cat|
/        %p{style:"color:#{cat.color}"}= cat.name

/ %div
/ %h3 Categories
-# @work.categories.each do |cat|
/ .cat_wrapper{style:"color:#{cat.color}"}= cat.name
-#= link_to "index", controller: "categories", action: "index"