#lower.grid
  %nav#bar
    %a#toggle.button Terminal
  #panel
         
    %div{class:"small-1 columns"}
      %ul.terminal-side-menu
        %li
          =link_to work_categories_path(@work), {class:"side-button"} do
            %i{class:"fi-record"} 
        %li
          %a.side-button
            %i{class:"fi-lock"} 
        %li
          %a.side-button
            ?
        %li
          %a.side-button
            %i{class:"fi-wrench"} 
    %div{class:"small-11 columns"}
      =simple_form_for(@work, url: {action: "updatenotes"}) do |f|
        %h2#field
        = f.text_area :markup, value: @work.generate_markup

    
/      -@work.categories.each do |cat|
/        %p{style:"color:#{cat.color}"}= cat.name

/ %div
/ %h3 Categories
-# @work.categories.each do |cat|
/ .cat_wrapper{style:"color:#{cat.color}"}= cat.name
-#= link_to "index", controller: "categories", action: "index"