#lower
  %nav#bar 
    %a#toggle.button Terminal
  #panel.grid
    =simple_form_for(@work, url: {action: "updatenotes"}) do |f|
      %h2#field
      = f.text_area :markup, value: @work.generate_markup

/#lower
/  %nav.top-bar.bottom-bar#bar{data:{topbar:true}}
/    %section.top-bar-section
/      / Right Nav Section
/      %ul.right
/        %li.active
/          %li
/            %a#toggle.button Terminal
/  #panel
/    =form_for(@work, url: {action: "updatenotes"}) do |f|
/      %h2#field
/      = f.text_area :markup, size:"100x20", value: @work.generate_markup

/ %div
/ %h3 Categories
-# @work.categories.each do |cat|
/ .cat_wrapper{style:"color:#{cat.color}"}= cat.name
-#= link_to "index", controller: "categories", action: "index"