#lower.grid
  %nav#bar
    %a#toggle.button Terminal
  #panel.off-canvas-wrap
    .inner-wrap

      %a.left-off-canvas-toggle{href:"#"} do eet
      %aside.left-off-canvas-menu
        feed me soup
      .real-content
        %div{class:"small-1 columns"}
          %ul.terminal-side-menu
            %li
              %a.side-button.left-off-canvas-toggle{href:"#"} 
                %i{class:"fi-record"} 
            %li
              %a.side-button
                %i{class:"fi-lock"} 
            %li
              %a.side-button
                ?
            %li
              %a.side-button
                %i{class:"fi-wrench"} 
        %div{class:"small-11 columns"}
          =simple_form_for(@work, url: {action: "updatenotes"}) do |f|
            %h2#field
            = f.text_area :markup, value: @work.generate_markup
      %a.exit-off-canvas
    
/      -@work.categories.each do |cat|
/        %p{style:"color:#{cat.color}"}= cat.name

/ %div
/ %h3 Categories
-# @work.categories.each do |cat|
/ .cat_wrapper{style:"color:#{cat.color}"}= cat.name
-#= link_to "index", controller: "categories", action: "index"