%div
  =form_for(@work, url: {action: "updatenotes"}) do |f|
    %h2 Terminal
    %h2#field
    = f.text_area :markup, size:"100x20", value: @work.generate_markup

#lower
  #bar 
    %a#toggle Click me!
  #panel I'm a panel!
//    .actions
//      = f.submit

/ %div
/ %h3 Categories
-# @work.categories.each do |cat|
/ .cat_wrapper{style:"color:#{cat.color}"}= cat.name
-#= link_to "index", controller: "categories", action: "index"