%h1#takenotes
  #{@work.name}

#cy

= render 'terminal'

.nodedisplay
  -# = render 'nodedisplay'

%ol.joyride-list{data:{joyride:true}}
  %li{data:{id:"category-list-button", text:"Next", options:"tip_location: top"}}
    %h4 Category List
    %p Click this to see and edit all the categories associated with this work.
  %li{data:{id:"privacy-button", text:"Next"}}
    %h4 Publicity Settings
    %p This one sets the privacy settings. Locked means only you can see it, unlocked means everyone can see (but only you can edit.)
  %li{data:{id:"guide-button", text:"Next", options:"tip_location: top"}}
    %h4 Guide
    %p You know this one. It launches the guide, whenever you want it.
  %li{data:{button:"End"}}
    %h4 That's it.
    %p Hope you enjoyed it. If you still have questions, feel free to check out the about link above, for more details on syntax and what we're all about.