.row.main
	.row#profile_header
		%h1 Profile: 
		%h2.subheader #{current_user.email}
	.row#work_group_list
		=render 'work_groups/work_group_list'
				
#groupModal{class: "reveal-modal", data:{:reveal=> true}}
#myModal{class: "reveal-modal", data:{:reveal=> true}}