.grid
	#header-container{class:"small-12 columns"}
		#title-container
			%h1.main-header Noteworks
			%h1.subheader Take notes. Better.
		#home-cy
	#header-filler
		%div{class:"small-8 small-centered columns"}
			.row.commands{"data-equalizer" => true}
				.large-4.small-12.columns.command-write{"data-equalizer-watch" => true}
					%h2 Write Simple
					%p Easy markup. No fuss, no muss. You can write your notes exactly like you always do, or make use of our additions to spice them up.
				.large-4.small-12.columns.command-graph{"data-equalizer-watch" => true}
					%h2 Graphic
					%p Your notes, our graph. You type your notes in, and it draws a graph for you (look up - there's an example.)
				.large-4.small-12.columns.command-flexible{"data-equalizer-watch" => true}
					%h2 Anything Goes
					%p Want to write class notes? Easy. Want hash out your plans for world domination? Equally easy (though you might want to make those private.)
	

/#cy_wrapper
/ #home_cy
/.row.main
/ .title-box
/   %h1.title Noteworks
/   %h1.subheader Take notes. Better.

