.grid
	#title-container{class:"small-12 columns"}
		#title-box
			%h1.main-header Noteworks
			%h1.subheader Take notes. Better.
		#home-cy
	%div{class:"small-8 small-centered columns"}

/#cy_wrapper
/	#home_cy
/.row.main
/	.title-box
/		%h1.title Noteworks
/		%h1.subheader Take notes. Better.