%dl.accordion{"data-accordion" => ""}
	-@user.work_groups.each do |group|
		%dd.row{"data-equalizer" => ""}
			%a.small-9.small-offset-1.columns{href: "#panel#{group.id}", class:"group-mod-button", "data-equalizer-watch" => ""}= group.name

			=link_to(new_work_path(:group_id => group.id), {class: ["group-mod-button", "small-1 columns"], data:{"reveal-id" => "groupModal", "reveal-ajax" => true, "equalizer-watch" => ""}}) do
				%i{class:"fi-plus"}
			=link_to(edit_work_group_path(group, :user_id => @user.id), {:class=> ["group-mod-button", 'small-1 columns'] , data:{"reveal-id" => "groupModal", "reveal-ajax" => true, "equalizer-watch" => ""}}) do
				%i{class:"fi-pencil"} 
			/= link_to(work_group_path(group, :user_id => @user.id), method: :delete, :class=> [ "group-mod-button", 'small-1 columns'] , "data-equalizer-watch" => "", remote: true) do
			/	%i{class:"fi-x"} 

			.content{id:"panel#{group.id}"}
				#work-list
					=render "works/work_list", group: group
					/-group.works.each do |work|
					/	=link_to work.name, work_takenotes_path(work), {class:"work-button"}

	%dd.group-panel-row
		=link_to(new_work_group_path(:user_id => current_user.id), {:class=>["panel#new", 'group-mod-button', 'small-6 small-offset-2 columns'], data:{"reveal-id" => "groupModal", "reveal-ajax" => true}}) do
			%i{class:"fi-plus"}