form.edit_category{
  input[type=submit]{
    display: none;
	}
}

.cat-wrapper{
	text-align:center;
	padding:10px;
}

.cat-button{
	padding:16px 0px;
	vertical-align:center;
	color:#d8d8d8;
}

.cat-button:hover{
	color:#fff;
}