// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*#cy_wrapper{
	position:absolute;
		width:100%;
		height:300px;
		z-index:0;
	#home_cy{
		width:100%;
		height:300px;
	}
}
*/
#title-container {
    width: 100%;
    height: 350px;
    position: relative;
}

#title-box, 
#home-cy {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#title-box {
    z-index: 10;
}

#title-box{
	text-align:center;
	h1.main-header{
		font-size:9em;
	}
	h1.subheader{
		color:#559900;
	}	
}