// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*#cy_wrapper{
	position:absolute;
		width:100%;
		height:300px;
		z-index:0;
	#home_cy{
		width:100%;
		height:300px;
	}
}
*/

$title-container-height:350px;
#title-container {
    width: 100%;
    height: $title-container-height;
    position: relative;
}

#title-filler{
	width:100%;
	height:$title-container-height;
}

#title-box, 
#home-cy {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#title-box {
    z-index: 10;
}

#title-box{
	text-align:center;
	background-color:rgba(255,255,255,.5);
	h1.main-header{
		font-size:9em;
	}
	h1.subheader{
		//color:#559900;
	}	
}

.commands{
	.command-panel{
		@include panel();
		margin:0px;
		border:5px solid #fff;
		padding:20px;
		p{
			font-family: $bitter-font-stack;
			color:#eee;
		}
	}
	.command-write{
		@extend .command-panel;
		background-color:#994040;
	}
	.command-graph{
		@extend .command-panel;
		background-color:#6c9c35;
	}
	.command-flexible{
		@extend .command-panel;
		background-color:#0c6487;
	}
}