.work-button{
	@include button();
	line-height:1;
}

.group-mod-button{
	@include button();
	padding:16px 0px;
	color:white;
	vertical-align:center;
}


#profile_header{
	h1, h2{
		display:inline-block;
	}
}