// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cy {
	position:fixed;
	width:100%;
	height:100%;
    //height: 600px;
    //width: 980px;
    left: 0;
    top: 45px;
    border: 1px solid #b0b0b0;
} 

#editable{
	border:1px solid black;
	height:100px;
    overflow: auto;
}

#ajtest{
	background-color:#440066;
	color:white;
	width:100px;
	height:20px;
	text-align:center;
}

#test_box{
	background-color:#c0c0c0;
	height:20px;
}