// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cy {
	position:fixed;
	width:100%;
	height:100%;
    //height: 600px;
    //width: 980px;
    left: 0;
    top: 45px;
    border: 1px solid #b0b0b0;
    margin-bottom:45px;
} 
$terminal-background-color:#242424;

#lower{
	position:fixed;
	width:100%;
	bottom:0;
	background-color:$terminal-background-color; 
	#bar{
		@include grid-row();
		width:100%;
		height:45px;
		padding:0px;
		text-align: center;
		background-color:$terminal-background-color;
		overflow:hidden;
		.button{
			background-color:$terminal-background-color;
			height:45px;
			line-height:45px;
			padding:0px;
		}
	}
	#panel {
	    display: none;
	    @include grid-row();
	    width:100%;
	    background-color: $terminal-background-color;
	    form{
	    	margin:0;
	    	h2{
	    		margin:0;
	    	}
		    #work_markup{
		    	font-family:"courier", monospace;
		    	margin:0;
		    	width:100%;
		    	height:em-calc(450);
		    }
		}
	}	
}

.terminal-side-menu{
	@include side-nav();
	text-align:center;
	.side-button{
		@include button();
		display:inline-block;
		background-color:$terminal-background-color;
		margin:0;
		border:1px solid #1a1a1a;
		text-align:left;
	}
}
