// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$terminal-background-color:rgba(0,0,0,.9);
$markup-color-darkener:rgba(0,0,0,.4);
$markup-text:#e0e1c6;
#cy {
	position:absolute;
	//width:100%;
	//height:100%;
    //height: 600px;
    //width: 980px;
    right:0;
    left: 0;
    top: 45px;
    bottom:0;
    border: 1px solid #b0b0b0;
    margin-bottom:45px;
} 
#lower{
	position:absolute;
	width:100%;
	bottom:0;
	background-color:$terminal-background-color; 
	//box-shadow: 0px -2px 4px 1px #444;
	#bar{
		@include grid-row();
		width:100%;
		height:45px;
		padding:0px;
		text-align: center;
		border:none;
		overflow:hidden;
		.button{
			background-color:inherit;
			font-family:$franchise-font-stack;
			font-size:1.6em;
			height:45px;
			line-height:45px;
			padding:0px;
		}
	}
	#panel {
	    @include grid-row();
	    display: none;
	    width:100%;
	    form{
	    	margin:0;
		    #work_markup{
		    	font-family:$monospace-font-stack;
		    	background-color:$markup-color-darkener;
		    	color:$markup-text;
		    	margin:0;
		    	border:0;
		    	padding:10px;
		    	width:100%;
		    	height:em-calc(350);
		    	min-height:em-calc(175); //matches height of buttons
		    	font-size:1.1em;
		    	margin-bottom: 10px;
		    	resize:none;
		    }
		}
	}	
}

.terminal-side-menu{
	@include side-nav();
	text-align:center;
	padding:0px;
	li{
		display:inline-block;
		text-align: center;
		.side-button{
			@include button();
			//display:inline-block;
			background-color:$markup-color-darkener;
			color:#fff;
			margin:0;
			padding: 16px 28px;
			border:1px solid #1a1a1a;
			text-align:center;
			i{
				color:#fff;
			}
		}
	}
}

$spinner-size:75px;
//center the spinner
#work_load_spinner{
	position:absolute;
	top:50%;
	left:50%;
	margin-left:$spinner-size/-2;
	margin-top:$spinner-size/-2;
	img{
		height:$spinner-size;
		max-width:$spinner-size;
	}
}
.work-row{
	@include grid-row();
	.group-mod-button{
		background-color:scale-color($electric-blue, $lightness: -30%);
	}
	a:hover{
		background-color:scale-color($electric-blue, $lightness: -10%);
	}
}

.work-row-even{
	@extend .work-row;
	.group-mod-button{
		background-color: scale-color($electric-blue, $lightness: 10%);
	}
}

.work-row-odd{
	@extend .work-row;
	.group-mod-button{
		background-color: scale-color($electric-blue, $lightness: 30%);
	}
}

h1#takenotes{
	margin-left:1em;
}

form.edit_work{
  input[type=submit]{
    display: none;
	}
}

.inline-header{
	display:inline;
}
.inline-header.subheader{
	margin-left:10px;
	color:$secondary-color;
}
::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    background:#666;
    border-left:2px solid $terminal-background-color;
    border-right:2px solid $terminal-background-color;
}
 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
    background:#eee;
}
