// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cy {
	position:absolute;
	//width:100%;
	//height:100%;
    //height: 600px;
    //width: 980px;
    right:0;
    left: 0;
    top: 45px;
    bottom:0;
    border: 1px solid #b0b0b0;
    margin-bottom:45px;
} 
$terminal-background-color:#242424;

#lower{
	position:fixed;
	width:100%;
	bottom:0;
	background-color:$terminal-background-color; 
	box-shadow: 0px -2px 4px 1px #444;
	#bar{
		@include grid-row();
		width:100%;
		height:45px;
		padding:0px;
		text-align: center;
		background-color:$terminal-background-color;
		overflow:hidden;
		.button{
			background-color:$terminal-background-color;
			font-family:$franchise-font-stack;
			font-size:1.6em;
			height:45px;
			line-height:45px;
			padding:0px;
		}
	}
	#panel {
	    @include grid-row();
	    display: none;
	    width:100%;
	    background-color: $terminal-background-color;
	    form{
	    	margin:0;
	    	h2{
	    		margin:0;
	    	}
		    #work_markup{
		    	font-family:"courier", monospace;
		    	margin:0;
		    	width:100%;
		    	height:em-calc(450);
		    }
		}
	}	
}

.terminal-side-menu{
	@include side-nav();
	text-align:center;
	li{
		display:inline-block;
		text-align: center;
		background-color:#440088;
		.side-button{
			@include button();
			//display:inline-block;
			background-color:$terminal-background-color;
			color:#fff;
			margin:0;
			padding: 16px 28px;
			border:1px solid #1a1a1a;
			text-align:center;
			i{
				color:#fff;
			}
		}
	}
}


.work-row{
	@include grid-row();
	.group-mod-button{
		background-color:scale-color($electric-blue, $lightness: -30%);
	}
	a:hover{
		background-color:scale-color($electric-blue, $lightness: -10%);
	}
}

.work-row-even{
	@extend .work-row;
	.group-mod-button{
		background-color: scale-color($electric-blue, $lightness: 10%);
	}
}

.work-row-odd{
	@extend .work-row;
	.group-mod-button{
		background-color: scale-color($electric-blue, $lightness: 30%);
	}
}

h1#takenotes{
	margin-left:1em;
}

form.edit_work{
  input[type=submit]{
    display: none;
	}
}
