// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#cy {
    height: 600px;
    width: 980px;
    left: 0;
    top: 0;
    border: 1px solid #b0b0b0;
} 