- @categories.each do |cat|
	%li.cat_wrapper{class: "large-3 columns", id:"category-#{cat.id}"}
		.category-row
			=link_to(cat.name,  edit_category_path(cat), {:class=> ["edit-link", "button", "small-8 small-centered columns"] , data:{"reveal-id" => "myModal", "reveal-ajax" => true}, style:"background-color:#{cat.color}"})
			=link_to("x", category_path(cat), method: :delete, :class=> ["delete-link", "category-button",  "small-3 small-centered columns"] , style:"background-color:#{cat.color}", remote: true)
%li.cat_wrapper{class: "large-2 columns", id:"new_category"}
	=link_to('New!', new_category_path, {data:{"reveal-id" => "myModal", "reveal-ajax" => true}})

%ul.button-group
	%li 
		%a.button{href: "#"} Shakespeare is wack
	%li 
		%a.button{href: "#"} x