= form_for @category, remote: true, format: :json do |f|

  .field
    =f.label :name
    =f.text_area :name

  .field
    =f.label :color
    =f.text_field :color

  .actions
    = f.submit

  #spinner.spinner
    = image_tag "ajax-loader.gif"
  #response