%h1 Categories
  
%ul#category_list.small-block-grid-8
	=render 'category_list'

#myModal{class: "reveal-modal", data:{:reveal=> true}}

= link_to "index", controller: "categories", action: "index"

#test_box