%h1 Categories
  
%ul.small-block-grid-8
	- @categories.each do |cat|
		%li.cat_wrapper{class: "large-2 columns"}
			=link_to(cat.name, category_path(cat), {style:"color:#{cat.color}", data:{"reveal-id" => "myModal", "reveal-ajax" => true}})
			=link_to(cat.name, edit_category_path(cat), {style:"color:#{cat.color}", data:{"reveal-id" => "myModal", "reveal-ajax" => true}})


%button{data:{"reveal-id" => "myModal", "reveal-ajax" => "/categories/2"} } Click Me For A Modal

#myModal{class: "reveal-modal", data:{:reveal=> true}}

= link_to "index", controller: "categories", action: "index"